/.vs
/Project/.vs
/Project/ExecutionProject/Game/Debug
/Project/ExecutionProject/Game/Release
/Project/ExecutionProject/Game/x64
/Project/ExecutionProject/Game/Win32
/Project/ImGui/x64
/Project/ImGui/Win32
/Project/KGL/Debug
/Project/KGL/Release
/Project/Build/x64
/Project/Build/Win32